.currentDate {
    display: flex;
    justify-content: space-around;
    color: rgb(44, 44, 96);


    button {
        border: none;
        border-radius: 10px;
        color: rgb(44, 44, 96);
        padding: 1rem;
        cursor: pointer;
        font-weight: bold;
        text-align: center;

        &:hover {
            background-color: pink;
        }

        &:active {
            color: #E00B6C;
        }
    }
}