.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 colonnes pour les 7 jours de la semaine */
    gap: 5px;
    text-align: center;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

.day {
    border: 1px solid #ddd;
    padding: 5px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #f9f9f9;
    color: rgb(44, 44, 96);
    font-weight: 500;
    cursor: pointer;

    &:hover {
        background-color: pink;
    }
}

.day.emptyCase {
    background-color: rgb(241, 239, 239);
    cursor: auto;
}

.event {
    font-weight: bold;
    color: rgb(56, 56, 121);
    border: solid #f9f9f9;
    width: 95%;
    // background-color: rgb(254, 224, 228);
    border-radius: 5px;
    padding: 5px;

    .infos {
        font-size: 0.9rem;
        font-weight: 600;
    }
}

.event.Concours {
    background-color: #88C4FF;
}

.event.Spectacle {
    background-color: #9AFF7F;
}

.event.Répétition {
    background-color: #FFF4A1;
}

.event.Réunion {
    background-color: #FFA3CC;
}

.event.Autre {
    background-color: rgb(254, 224, 228);
}

.number {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}