.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup {
    // width: 300px;
    // height: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;

    .closeButtonDiv {
        display: flex;
        justify-content: right;

        .closeButton {
            color: #E00B6C;
            font-weight: bold;
            font-size: 2.2rem;
            border: none;
            background-color: white;
            cursor: pointer;

            &:hover {
                color: #cb0b61;
            }
        }
    }

    .todaysDate {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .popupContent {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .backButton {
        background-color: white;
        border: none;
        font-size: 1.6rem;
        color: #cb0b61;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3 ease;

        &:hover {
            transform: scale(1.08);
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    .formStep {
        display: flex;
        flex-direction: column;
        padding-top: 1.5rem;
        color: rgb(44, 44, 96);
    }

    .saveButton {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        button {
            margin-top: 2rem;
            margin-bottom: 1rem;
            padding: 5px 7px;
            color: rgb(44, 44, 96);
            font-weight: bold;
            font-size: 1rem;
            border: solid rgb(250, 236, 238);
            box-shadow: 2px 2px 2px rgb(44, 44, 96);
            border-radius: 5px;
            background-color: rgb(252, 239, 241);
            cursor: pointer;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: pink;
                border: solid pink;
            }
            &:active {
                color: #E00B6C;
            }
        }

    }

}

.yearsList {
    display: flex;
    flex-direction: column;

    button {
        margin: 5px;
        cursor: pointer;
        background-color: white;
        border: none;
        color: rgb(44, 44, 96);
        font-size: 1.1rem;
        transition: transform 0.1s ease;

        &:hover {
            transform: scale(1.1);
            font-weight: bold;
        }

        &:active {
            color: #E00B6C;
        }

    }
    .currentYearButton {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.hidden {
    display: none;
}


.listEvents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .addButton {
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding: 5px 7px;
        color: rgb(44, 44, 96);
        font-weight: bold;
        font-size: 1rem;
        border: solid rgb(250, 236, 238);
        box-shadow: 2px 2px 2px rgb(44, 44, 96);
        border-radius: 5px;
        background-color: rgb(252, 239, 241);
        width: 4rem;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
            background-color: pink;
            border: solid pink;
        }

        &:active {
            color: #E00B6C;
        }
    }

    .listItem {
        width: 85%;
        height: 200px;
        margin: 0;
        padding: 0 10px;
        // background-color: rgb(241, 239, 239);
        background-color: rgb(68, 68, 115);
        border: solid rgb(68, 68, 115) 3px;
        // background-color: rgb(253, 242, 244);
        // border: solid rgb(253, 242, 244) 0.5rem;
        // border: solid rgb(241, 239, 239) 0.5rem;
        border-radius: 5px;
        overflow-y: scroll;
        scrollbar-width: none;

        .item {
            list-style-type: none;
            width: auto;
            padding: 8px;
            margin: 12px 0;
            align-self: center;
            // border: solid white;
            border-radius: 5px;
            // background-color: rgb(251, 222, 227);
            background-color: rgb(249, 212, 218);

            .eventName {
                // border: solid rgb(249, 212, 218);
                padding: 4px 0;
                border-bottom: solid pink;
            }
            .time {
                font-weight: bold;
            }

            .location {
                border-bottom: solid pink;
                // border-top: solid pink;
                padding: 4px 0;
            }

            .comment {
                font-size: 0.95rem;
                padding: 7px 0;
            }
        }
    }
}